<!DOCTYPE html>
<html>
<title>Library Assistant Main Page</title>
<body>
<h1>Library Assistant Main Page</h1>
<p>Hello, {{ name }}{% if admin %} <span style="font-weight:bold">(admin)</span>{% endif %}</p>
{% if book %}
<p>You have a checked out book!</p>
<p>Title: {{ book.title }}</p>
<p>Author: {{ book.author }}</p>
<p>Publication Date: {{ book.pubDate }}</p>
<p>ISBN: {{ book.ISBN }}</p><br>
<form method="POST" action="/checkin">
    <input type="submit" value="return book">
</form>
{% else %}
<p>You haven't check out any book currently!</p>
<form method="POST" action="/checkout">
    <label for="bookid">Title or ISBN:</label><br>
    <input type="text" id="bookid" name="bookid" required><br/>
    <label for="radio-title">Title:</label>
    <input type="radio" id="radio-title" name="idtype" value="use-title" checked required>
    <label for="radio-isbn">ISBN:</label>
    <input type="radio" id="radio-isbn" name="idtype" value="use-isbn" required><br/>
    <input type="submit" value="checkout"><br>
</form>
<br>
{% endif %}
{% if admin %}
<form method="GET" action="/admin">
    <input type="submit" value="librarian control panel">
</form>
{% endif %}
<form method="GET" action="/showbooks">
    <input type="submit" value="list available books">
</form>
<form method="POST" action="/logout">
    <input type="submit" value="logout">
</form>
{% if message %}
<script>alert("{{ message }}");</script>
{% endif %}
</body>
</html>