<!DOCTYPE html>
<html>
<title>show books</title>

<head>
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 80%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
</style>	
</head>

<body>

<form method="GET" action="/">
    <input type="submit" value="Return to Main Page">
</form>
<br>
<h1>List of Available Books:</h1>
{% if booklist %}
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publication Date</th>
    </tr>
{% for book in booklist %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.pubDate }}</td>
    </tr>
{% endfor %}
</table>
{% endif %}